<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default height-180">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8">
                <h5>安全警告</h5>
                <div class="text-center">
                  <img src="./assets/img/yundun-sas-2x.png" style="width: 250px;" />
                </div>
              </div>
              <div class="col-md-4">
                <h5>安全防护</h5>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default height-180">
          <div class="panel-body">
            <h5>待办事项</h5>
            <ul class="list-group todo-list">
              <li class="list-group-item">
                <a href="javascript:;" class="row">
                  <span class="item-text text-warning col-md-6">警报</span>
                  <span class="item-number col-md-6">0</span>
                </a>
              </li>
              <li class="list-group-item">
                <a href="javascript:;" class="row">
                  <span class="item-text text-danger col-md-6">威胁</span>
                  <span class="item-number col-md-6">0</span>
                </a>
              </li>
              <li class="list-group-item">
                <a href="javascript:;" class="row">
                  <span class="item-text text-infor col-md-6">疑似</span>
                  <span class="item-number col-md-6">0</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default height-180 tabs-container">
      <div class="panel-body">
        <tabset [justified]="true">
          <tab>
            <template tabHeading>全部公告</template>
            <ul class="list-group">
              <li><a href="javascript:;">4月11日Donuts注册局维护通知</a></li>
              <li><a href="javascript:;">4月2日 .group域名上线公告</a></li>
              <li><a href="javascript:;">4月11日Donuts注册局维护通知</a></li>
            </ul>
            <a href="javascript:;" class="more-link">更多...</a>
          </tab>
          <tab>
            <template tabHeading>IPs</template>
          </tab>
          <tab>
            <template tabHeading>域名与网站</template>
          </tab>
          <tab>
            <template tabHeading>Whois</template>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default height-180">
      <div class="panel-body">
        <h5>关注</h5>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default height-180">
      <div class="panel-body">
        <h5>管理助手</h5>
      </div>
    </div>
  </div>
</div>