  <div class="page-header h-250 m-b-30">
    <div class="text-xs-center blue-grey-800 m-t-50 m-xs-0">
      <form method="post" action="profile.html">
        <div class="form-group col-md-5" style="margin-left:30%;margin-top:20px">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="" placeholder="客户信息搜索..." style="height:50px">
            <button type="submit" class="input-search-close icon wb-close" aria-label="Close"></button>
          </div>
        </div>
      </form>
      <div class="clearfix"></div>

      <ul class="list-inline font-size-14">
        <li class="list-inline-item">
          <i class="icon wb-map m-r-5" aria-hidden="true"></i> 客户信息收集
        </li>
        <li class="list-inline-item m-l-20">
          <i class="icon wb-heart m-r-5" aria-hidden="true"></i> 123,821,125 位
        </li>
      </ul>
    </div>
  </div>
