<div class="sidebar-fold" [class.unfold]="!expand">
  <a href="javascript:;" (click)="onExpand()">
    <i class="fa" [class.fa-arrow-right]="!expand" [class.fa-bars]="expand" aria-hidden="true"></i>
  </a>
</div>
<ul class="nav" [class.unfold]="!expand">
  <li *ngFor="let item of menus">
    <a routerLink="{{item.href}}" class="sidebar-title" (click)="onSelect(item, menus)">
      <i *ngIf="item.icon" [ngClass]="item.icon" aria-hidden="true"></i>
      <i *ngIf="item.menus" class="fa" [class.fa-caret-right]="item.active" [class.fa-caret-down]="!item.active" aria-hidden="true"></i> <span [hidden]="!expand">{{item.title}}</span>
    </a>
    <ul *ngIf="item.menus"  class="nav" [class.hide]="!item.active" [class.unfold]="!expand">
      <li *ngFor="let subItem of item.menus" [class.active]="subItem.active">
        <a href="javascript:;" (click)="onSelect(subItem, item.menus)"><i *ngIf="subItem.icon" [ngClass]="subItem.icon" aria-hidden="true"></i> <span [hidden]="!expand">{{subItem.title}}</span></a>
      </li>
    </ul>
  </li>
</ul>